* {
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0;
  font: 1rem/1.4 Helvetica;
  letter-spacing: .005em;
}

header {
  background: black;
  display: flex;
  color: white;
  padding: .5rem 2rem;
  justify-content: space-between;
}
header a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

main {
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr auto;
  place-content: center;
}

.content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media screen and (min-width: 800px) {
  .content {
    font-size: 48px;
  }
}

.is-playing .content {
  display: flex;
}

.colour-0 {
  background-color: #0a2342;
  color: white;
}

.colour-1 {
  background-color: #2ca58d;
  color: white;
}

.colour-2 {
  background-color: #84bc9c;
}

.colour-3 {
  background-color: #fffdf7;
}

.colour-4 {
  background-color: #f46197;
}

.output {
  max-width: 800px;
}

.trigger-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trigger {
  background: black;
  color: white;
  border: none;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
