---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}


<div class="content">
  <p class="output" id="output"></p>
</div>

<div class="trigger-wrapper">
  <button id="trigger" class="trigger">Tell me how to make it work!</button>
</div>

