---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}


<p id="output">TBC says</p>
<div class="trigger-wrapper">
  <button id="trigger">tell me how to make it work!</button>
</div>

